/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


@font-face {
    font-display: swap; 
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/karla-v30-latin-regular.woff2') format('woff2');
  }

  @font-face {
    font-display: swap; 
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/karla-v30-latin-500.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap; 
    font-family: 'Karla';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/karla-v30-latin-600.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap; 
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/karla-v30-latin-700.woff2') format('woff2'); 
  }

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    font-family: "Karla", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

img{
    vertical-align: middle;
}

.container{
    width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

.site__header{
    position: relative;
    margin: 0;
    padding: 21px 0 19px;
    z-index: 2;
}

.header__inner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.nav__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
    list-style-type: none;
}

.nav__item:nth-child(1){
   margin-left: 485px;
}

.nav__link{
    color: #837D88;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-decoration: none;
    -webkit-transition: color 0.6s ease;
    -o-transition: color 0.6s ease;
    transition: color 0.6s ease;
}

.nav__link:hover{
    color: #2C2830;
}


.header__link{
    display: inline-block;
    width: 146px;
    margin-left: 34px;
    padding: 13px 0;
    border: 1.5px solid #2C2830;
    color: #2C2830;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-decoration: none;
    -webkit-transition: all  0.6s ease;
    -o-transition: all  0.6s ease;
    transition: all  0.6s ease;
}

.header__link:hover{
    border: 1.5px solid #2C2830;
    background: #2C2830;
    color: #FFF;
}

.site__main{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

/* HERO SECTION STARTED */

.hero{
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #2C2830;
    padding: 105px 0 127px;
   
}

.hero::before{
    position: absolute;
    background-image: url("../images/before.svg");
    background-repeat: no-repeat;
    width: 697px;
    height: 649px;
    top: 414px;
    content: "";
}

.hero::after{
    position: absolute;
    background-image: url("../images/after.svg");
    background-repeat: no-repeat;
    width: 697px;
    height: 512px;
    top: 0;
    right: 0;
    content: "";
}


.hero__inner{
    width: 540px;
}

.hero__inner::before{
    display: block;
    width: 150px;
    height: 2px;
    background-color: #FFF;
    content: "";
    margin-bottom: 63px;

}



.hero__title{
    margin: 0;
    margin-bottom: 16px;  
    color: #FFF;
    font-family: "DM Serif Display";
    font-size: 72px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -1px;
}

.hero__text{
    margin: 0;
    margin-bottom: 24px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}

.hero__link{
    display: inline-block;
    width: 146px;
    padding: 13px 0;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    border: 1.5px solid #FFF;
    letter-spacing: 1.5px;
    text-decoration: none;
    -webkit-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
}

.hero__link,
.article__link:hover{;
    background-color: #FFF;
    color: #000;
}

.hero__pic{
    position: absolute;
    background-image: url("../images/picture.png");
    width: 1004px;
    height: 670px;
    background-repeat: no-repeat;
    top: 85px;
    left: calc(50% + 30px);
    bottom: -155px;
}

/* HERO SECTION ENDED */


/* DIFFERENT SECTION STARTED */

.different{
    margin: 0;
    padding: 305px 0 168px;
}

.different__title{
    margin: 0;
    margin-bottom: 96px;
    color: #2C2830;
    font-family: "DM Serif Display";
    font-size: 72px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -1px;
}

.different__inner::before{
    display: block;
    width: 150px;
    height: 2px;
    background-color: #C396C6;
    content: "";
    margin-bottom: 63px;
}

.different__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding-left: 0;
    gap: 30px;
    list-style-type: none;
}

.different__item{
    width: 350px;
}

.different__item::before{
    display: inline-block;
    height: 86px;
    width: 86px;
    background-image: url("../images/before1.svg");
    background-repeat: no-repeat;
    content: "";
    margin-bottom: 32px;
}

.different__item:nth-child(2)::before{
    background-image: url("../images/before2.svg");
}

.different__item:nth-child(3)::before{
    background-image: url("../images/before3.svg");
}

.different__subtitle{
    margin: 0;
    margin-bottom: 16px;
    color: #2C2830;
    font-family: "DM Serif Display";
    font-size: 28px;
    font-weight: 400;
    letter-spacing: -0.389px;
}

.different__text-wrapper{
    width: 340px;
}

.different__text{
    margin: 0;
    color: #837D88;
    font-family: Karla;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* DIFFERENT SECTION ENDED */

/* ARTICLE SECTION STARTED */

.article{
    margin: 0;
    padding: 0;
    padding-bottom: 150px;
}

.article__inner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 69px 80px;
    background-color: #2D2641;;
}

.article__inner::after{

}

.article__title{
    margin: 0;
    display: block;
    width: 475px;
    color: #FFF;
    font-family: "DM Serif Display";
    font-size: 56px;
    font-weight: 400;
    line-height: 56px; 
    letter-spacing: -0.778px;
}

.article__link{
    display: inline-block;
    border: 1.5px solid #FFF;
    width: 160px;
    height: 40px;
    padding: 13px 0;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-decoration: none;
}
/* ARTICLE SECTION ENDED */

/* FOOTER STARTED */

.site__footer{
    margin: 0;
    padding: 66px 0 50px;
    background: #FAFAFA;
}

.footer__inner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.span{
    margin-top: 36px;
    margin-bottom: 48px;
    display: inline-block;
    width: 1110px;
    height: 1px;
    background-color: #DADADA;
}

.footer__bottom{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer__strong{
    margin: 0;
    color: #837D88;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.company__list{
    margin: 0;
    margin-top: 36px;
    padding-left: 0;
    list-style-type: none;
}

.company__item{
    margin-bottom: 16px;
}


.company__link{
    color: #2D2641;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-decoration: none;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.company__link:hover{
    color: #2D2641;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
}



/* FOOTER ENDED */